.container {
    display: flex;
    flex-wrap: wrap;
    width: 432px; 
    height: 432px; 
    border-color: black;
    border-style: solid;
    border: 2px;
}
.pen-colors {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 100px;
}
.pen-colors > div{
    flex: 1;
    height: 80px;
    margin: 10px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}